__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
dist/
build/

.env
*.pem
dev-keys/

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

.idea/
.vscode/
.DS_Store
